<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box;}
body {
  font-family: Verdana, sans-serif;
  padding: 0px

}
.mySlides {display: none;}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

/* Slideshow container */
#slideshow .slideshow-container {
  position: center;
  margin: auto;
}
#slideshow .slideshow-container a{
  position: fixed;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}
.fade:not(.show) {
    opacity: 1;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

</style>
</head>
<body>
<div id="slideshow">
<div class="slideshow-container" style="text-align:center">
<%@flayers.each do |flayer|%>
<div class="mySlides fade" >
  <%=image_tag(flayer.image)%>
</div>
<%end%>
</div>

<br>
<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  slides[slideIndex-1].style.display = "block";  
  setTimeout(showSlides, 10000);
}
</script>

</body>
</html> 





