<style>
h2 {
  color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
</style>

<body style="background-image: url('http://centrodeinnovacion.uc.cl/assets/uploads/2019/07/48252133732_e7f5d0d4ce_k-1280x605-c-default.jpg'); background-repeat: no-repeat; background-size: cover;background-attachment: fixed; ">

<div class="container" style="padding-top:40px;">
<% if flash[:warning]%>
<div class="alert alert-warning alert-dismissible">
  <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong><%= flash[:warning] %></strong> No tienes permisos para acceder a la página.
  <% end %>
</div>
</div>


<div class ="text-center" style="padding-top:200px">
<h2>RED DE LABORATORIOS DE FABRICACIÓN UC</h2>


</div>
</body>
