


<div class="container">
<% if flash[:warning]%>
<div class="alert alert-warning alert-dismissible">
  <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
 <strong><%= flash[:warning] %></strong> Debes iniciar sesión.
  <% end %>
</div>
</div>
<div class="container">

<% if flash[:notice]%>
<div class="alert alert-notice alert-dismissible">
  <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
 <strong><%= flash[:notice] %></strong> 
  <% end %>
</div>
</div>