<div class="text-center">
  <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissible fade show alert-top" role="alert">
      <%= flash[:notice] %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</div>

<div class="header-text" >

  <div class="text-side">
    <h1 class="title-large">  Red de laboratorios de fabricaci贸n </h1>
    <p class="pgray">Sistema de administraci贸n de asistencia y 
      registro para los laboratorios de fabricaci贸n 
      de la Pontificia Universidad Cat贸lica de chile </p>
      <%if !signed_in?%>
        <a href="/reservations"><button class="btn btn-primary">Ir a reservas</button></a>
      <%else%>
        <a href="/laboratories"><button class="btn btn-primary">Registros</button></a>
      <%end%>
  </div>
  <div class="img-side">
    <%=image_tag "logo.jpg", :class => "logo-img"%>
  </div>
</div>



