</head>
<body>
	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form" id="visitForm">

				<a href=<%=slideshow_path%> class="btn btn-secondary"> Volver </a>
				<span class="contact100-form-title">
					Registro Manual y Visitas
				</span>
                <p>
                Personas que estén registradas en el sistema y no porten su TUC ingresar solamente el RUN y Laboratorio.
                </p>

				<div class="wrap-input100" id= "runField">
					<span class="label-input100">Ingrese RUN *</span>
					<input class="input100" id="run" type="text" name="rut" placeholder="Sin guion ej: 123456780">
					<span class="label-input100" style="color:red; visibility:hidden;" id="lenghtError" >RUN ingresado es demasiado corto</span>
					<span class="label-input100" style="color:red ; visibility:hidden; padding-left: 90px" id="invalidError" >RUN ingresado es invalido</span>
				</div>

				<div class="wrap-input100 input100-select bg1">
					<span class="label-input100">¿Eres estudiante UC? </span>
					<div>
						<select class="input-form" name="uc_student" id="uc_student">
							<option>Sí</option>
							<option selected>No</option>
						</select>
						<div class="dropDownSelect2"></div>
					</div>
				</div>

				<div class="wrap-input100 bg1">
					<span class="label-input100">Insitución que pertenece</span>
					<input class="input100" id="institution" type="text" name="institucion" placeholder="ej: Universidad Católica">
				</div>


				<div class="wrap-input100 input100-select bg1">
					<span class="label-input100">Laboratorio</span>
					<div>
						<select class="input-form" name="lab_id" id="lab">
                            <%=@labs.each do |lab|%>
							<option value=<%=lab.id%>> <%=lab.nombre%></option>
							<%end%>
						</select>
						<div class="dropDownSelect2"></div>
					</div>
				</div>


				<div class="wrap-input100 input100-select bg1">
					<span class="label-input100">Motivo de visita </span>
					<div>
						<select class="input-form" name="motivo" id="motivo">
                            <option>Investigación</option>
							<option>Emprendimiento</option>
							<option>Curso</option>
							<option>Taller</option>
                            <option>Conocer Espacio</option>
                            <option>Otro</option>
						</select>
						<div class="dropDownSelect2"></div>
					</div>
				</div>

                <div class="wrap-input100 bg1" id="otro-motivo">
					<span class="label-input100">Otro</span>
					<input class="input100" id="otro" type="text" name="other" placeholder="ej: Consulta por maquinaria">
				</div>


                <div class="wrap-input100 bg1" id="contador">
					<span class="label-input100">Cuantas personas son</span>
					<input class="input100" type="text" id="counter" name="quantity"placeholder="ej: 15">
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn" type="button" onClick="window.postForm(event);" id="button">
						<span>
							Ingresar
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>

			</form>
		</div>
	</div>
</body>
</html>


<script>
const visitForm = document.getElementById('visitForm');
const run = document.getElementById('run');
const runField = document.getElementById('runField')
const okButton = document.getElementById('button');
const lenghtError = document.getElementById("lenghtError")
const validError = document.getElementById("invalidError")
  
run.addEventListener('focusout', function (event) {
  isValidRun = checkRut(run);
  if ( isValidRun == 1 ) {
	console.log("runchico")
	lenghtError.style.visibility = 'visible';
	validError.style.visibility = 'hidden';
	runField.style["border-color"]  = 'red';
	okButton.disabled = true;
  
  } else if(isValidRun == 2) {
	runField.style["border-color"]  = 'red' ;
	validError.style.visibility = 'visible';
	lenghtError.style.visibility = 'hidden';
    okButton.disabled = true;
  } else {
	runField.style["border-color"]  = "green";
	validError.style.visibility= 'hidden';
	lenghtError.style.visibility = 'hidden';
	okButton.disabled = false;
  }
});
  
okButton.addEventListener('click', function (event) {
	event.preventDefault();
	visitForm.submit();
});

function checkRut(rut) {
	var valor = rut.value.replace('.','');
	
    valor = valor.replace('-','');
	cuerpo = valor.slice(0,-1);
	
    dv = valor.slice(-1).toUpperCase();

    rut.value = cuerpo + '-'+ dv

    if(cuerpo.length < 7) { return 1;}
    
    suma = 0;
    multiplo = 2;
    
    for(i=1;i<=cuerpo.length;i++) {
    
        index = multiplo * valor.charAt(cuerpo.length - i);
        
        suma = suma + index;
        
        if(multiplo < 7) { multiplo = multiplo + 1; } else { multiplo = 2; }
  
    }
    
    dvEsperado = 11 - (suma % 11);
    
    dv = (dv == 'K')?10:dv;
    dv = (dv == 0)?11:dv;
    
    if(dvEsperado != dv) { return 2; }
    
}
</script>



<script>
$(document).ready(function() {
  $('#motivo').on('change.states', function() {
    $("#otro-motivo").toggle($(this).val() == 'Otro');
  }).trigger('change.states');
});
</script>
<script>
$(document).ready(function() {
  $('#motivo').on('change.states', function() {
    $("#contador").toggle($(this).val() == 'Conocer Espacio');
  }).trigger('change.states');
});
</script>

<script>
$('#run')
	.keyboard({
        lockInput: true, // prevent manual keyboard entry
        usePreview: false,
        autoAccept: true,
		layout: 'custom',
		customLayout: {
			'normal': [
				'1 2 3 ',
				'4 5 6 ',
				'7 8 9 ',
                '{bksp} 0 K' 
            ],   
        }, 
	});
</script>
<script>
$('#counter')
	.keyboard({
        lockInput: true, // prevent manual keyboard entry
        usePreview: false,
        autoAccept: true,
		layout: 'custom',
		customLayout: {
			'normal': [
				'1 2 3 ',
				'4 5 6 ',
				'7 8 9 ',
                '{bksp} 0 {accept}' 
            ],   
        }, 
	});
</script>

<script>
$('#institution')
    .keyboard({
            display: {
		'bksp'   : '\u2190',
		'enter'  : 'return',
		'normal' : 'ABC',
		'meta1'  : '.?123',
		'meta2'  : '#+=',
		'accept' : '\u21d3'
	},
            lockInput: true,
            usePreview: false,
            autoAccept: true,
            layout: 'custom',
            customLayout: {
		'normal': [
			'q w e r t y u i o p {bksp}',
			'a s d f g h j k l {enter}',
			'{s} z x c v b n m @ . {s}',
			'{meta1} {space} _ - {accept}'
		],
		'shift': [
			'Q W E R T Y U I O P {bksp}',
			'A S D F G H J K L {enter}',
			'{s} Z X C V B N M @ . {s}',
			'{meta1} {space} _ - {accept}'
		],
		'meta1': [
			'1 2 3 4 5 6 7 8 9 0 {bksp}',
			'` | { } % ^ * / \' {enter}',
			'{meta2} $ & ~ # = + . {meta2}',
			'{normal} {space} ! ? {accept}'
		],
		'meta2': [
			'[ ] { } \u2039 \u203a ^ * " , {bksp}',
			'\\ | / < > $ \u00a3 \u00a5 \u2022 {enter}',
			'{meta1} \u20ac & ~ # = + . {meta1}',
			'{normal} {space} ! ? {accept}'
		]
	}, 
                
    });
</script>

<script>
$('#otro')
    .keyboard({
            display: {
		'bksp'   : '\u2190',
		'enter'  : 'return',
		'normal' : 'ABC',
		'meta1'  : '.?123',
		'meta2'  : '#+=',
		'accept' : '\u21d3'
	},
            lockInput: true,
            usePreview: false,
            autoAccept: true,
            layout: 'custom',
            customLayout: {
		'normal': [
			'q w e r t y u i o p {bksp}',
			'a s d f g h j k l {enter}',
			'{s} z x c v b n m @ . {s}',
			'{meta1} {space} _ - {accept}'
		],
		'shift': [
			'Q W E R T Y U I O P {bksp}',
			'A S D F G H J K L {enter}',
			'{s} Z X C V B N M @ . {s}',
			'{meta1} {space} _ - {accept}'
		],
		'meta1': [
			'1 2 3 4 5 6 7 8 9 0 {bksp}',
			'` | { } % ^ * / \' {enter}',
			'{meta2} $ & ~ # = + . {meta2}',
			'{normal} {space} ! ? {accept}'
		],
		'meta2': [
			'[ ] { } \u2039 \u203a ^ * " , {bksp}',
			'\\ | / < > $ \u00a3 \u00a5 \u2022 {enter}',
			'{meta1} \u20ac & ~ # = + . {meta1}',
			'{normal} {space} ! ? {accept}'
		]
	}, 
                
    });
</script>

<script>
  let inactivityTime = function () {
    let time;
    let redirectUrl = "/slideshow";

    #Reinicia el temporizador en cada evento de usuario
    window.onload = resetTimer;
    document.onmousemove = resetTimer;
    document.onkeypress = resetTimer;
    document.onscroll = resetTimer;
    document.onclick = resetTimer;

    function redirect() {
      window.location.href = redirectUrl;
    }

    function resetTimer() {
      clearTimeout(time);
      time = setTimeout(redirect, 10000);  // 10000 ms = 10 segundos
    }
  };

  inactivityTime();
</script>