<html>
<head>
  <title>Visita Registrada</title>
  <script type="text/javascript">
    setTimeout(function() {
      window.location.href = "<%= slideshow_path %>";
    }, 3000);
  </script>
</head>
    <body>
        <h1>Visita registrada correctamente. ¡Bienvenid@!</h1>
    </body>
</html>
