<div style ="margin: 3rem auto; text-align:center"class="form-box"><form action="/update_password" method="POST">
<h4 style="font-weight:300">Cambio de Contraseña</h4>
<input hidden name="id" value=<%=current_user.id%>>
<label class="label-form">Contraseña Nueva</label><br>
<input class="input-form"name="new_password" type=password><br>
<hr>
<button class ="btn btn-dark">Enviar</button>
</form>
</div>