<div class="light-title">
    Creaci贸n de Nuevo Laboratorio
    <hr/>
</div>

<form action="/laboratories" method="post" id="new-lab-form">
<div class="student-form">
    <p class="lil-title">Completa la informaci贸n a continuaci贸n</p>
<div class="form-box">
    <p>Informaci贸n personal</p>
    <div class="column-flex-div">
        <label class="label-form">Nombre</label>
        <input class="input-form" name="laboratory[nombre]">
        <label class="label-form">Campus</label>
        <input class="input-form" name="laboratory[campus]"> 
        <label class="label-form">Facultad responsable</label>
        <input class="input-form" name="laboratory[facultad]">
    </div>
</div>

<div class="row-flex-div" style="width:25%">
    <button class="btn btn-primary" type="submit">Guardar</button>
    <a href=<%=laboratories_path%> class="btn btn-secondary">Volver</a>
</div>
</form>

