  <h2 style="text-align: center">Admin Reservas <%=current_user.rol == "admin" ? '' : @lab%></h2>
<div style="margin-top: 3rem; text-align: center">
  <%unless current_user.nil?%>
    <%if current_user.rol == "admin"%>
    <div style="width:15em; margin:10px auto;">
      <label class="label-form">Selecciona laboratorio</label>
        <select class="input-form" id="selected-laboratory">
            <% @laboratories.each do |lab| %>
                <option value="<%=lab.id%>"><%=lab.nombre%></option>
            <% end %>
        </select>
    </div>
    <% end %>
 <% end %> 
    <input type="date" id="selected-date">
    <button class="btn btn-primary" type="button" id="btn-reservation">Consultar</button>
  <div id="content-reservation" class="row-flex-div" style="flex-wrap: wrap; justify-content: start; margin: 10px auto;"></div>
</div>


<script>
  $('#btn-reservation').on('click', function() {
        const date = $("#selected-date").val();
        const laboratory = $("#selected-laboratory").val()
        $('#content-reservation').html('');
        $.ajax({
        url: '/reservations/get_admin_reservation',
        type: 'POST',
        dataType: 'json',
        data: { date: date, lab_id: laboratory },
        success: function(response) {
          if(response.reservations.length === 0) {
            $('#content-reservation').html('No hay reservas para la fecha seleccionada');
          }
          response.reservations.map((reservation)=>{
            $('#content-reservation').append(`
              <div class="card" id="reservation-${reservation.reservation_id}" style=${reservation.status == "validada" ? "background-color:#d7fcc791" : "background-color:inherit"}>
                <p style="font-weight: bold"> ${reservation.machine} </p>
                <p style="font-weight: bold; font-size: 23px"> ${window.modules[reservation.hour_block]} </p>
                <p> ${reservation.student.nombre} </p>
                <p> ${reservation.student.correo} </p>
                <p> ${reservation.student.rut} </p>
                  ${ reservation.status != "validada" ? `<div class="row-flex-div" id="reservation-status-${reservation.reservation_id}">
                    <button class="btn btn-secondary" type="button" onclick="validateReservation(${reservation.reservation_id})">  Validar </button>
                    <button class="btn btn-danger" type="button" id="free-reservation" onclick="releaseReservation(${reservation.reservation_id})"> Anular </button>
                  </div>` : ""}
              </div>
            `)
          })
        }});
  });
  function validateReservation(reservationId) {
    $.ajax({
      url: '/reservations/validate_reservation',
      type: 'POST',
      dataType: 'json',
      data: { id: reservationId },
      success: function(response) {
        if(response.status === 200) {
          alert('Reserva validada');
          $("#reservation-"+reservationId).css('background-color','#d7fcc791');
          $("#reservation-status-"+reservationId).css('display', 'none');
        }
      }});
  }
  function releaseReservation(reservationId) {
    $.ajax({
      url: '/reservations/release_reservation',
      type: 'POST',
      dataType: 'json',
      data: { id: reservationId },
      success: function(response) {
        if(response.status === 200) {
          alert('Reserva liberada');
          $("#reservation-"+reservationId).css('display','none');
          $("#reservation-status-"+reservationId).css('display', 'none');
        }
      }});
  }

</script>




